body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: #2b5876;
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
    background: linear-gradient(to right, #4e4376, #2b5876);
    animation: bg 12s ease infinite;
    text-align: center;
    padding: 50px;
}


.container {
    background: url("download.jpg");
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 20px 50px black;
    max-width: 400px;
    text-align: center;
}

h1 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
}

input[type="number"] {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
}

input[type="number"]:focus {
    border-color: #5c6bc0;
    box-shadow: 0 4px 8px rgba(92, 107, 192, 0.2);
}

button {
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding: 12px 20px;
    font-size: 16px;
    background-color: #5c6bc0;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    font-family: Arial, sans-serif;
    background-color: #4e4376;
}

.result {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    color: #ffffff;
}

p{
    color: white;
    font-weight: bold;
    
}